{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/me.png' type='image/png'>
    <!-- Also link to some fonts hosted by Google -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGT8BYYEHF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MGT8BYYEHF');
    </script>
</head>
<body>
    <!-- heading across all pages -->
    <header>
        <img src="/static/img/me.png">
        <p><a href='/'>Hi, my name is Claire Wang</a></p>
        <p>To all the coffee and early mornings</p>
    </header>
    <!-- main nav bar across all pages -->
    <nav>
        <a href="/">Home</a>
        <a href="/work">Work</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="content">
        <!-- sub nav bar across each page -->
        {{block "sub-nav" .}}
        {{end}}
        <!-- main content -->
        {{block "body" .}}
        {{end}}
    </div>
    <!-- footer with fine prints across all page -->
    {{template "footer" .}}
    <!-- And include the JavaScript file -->
</body>
</html>
{{end}}