{{template "base" .}}
{{define "title"}}code{{end}}
{{define "body"}}
    <nav>
        <a href="/code">all</a>
        <a href="/code">c1</a>
        <a href="/code">c2</a>
        <a href="/code">c3</a>
    </nav>
{{end}}