{{template "base" .}}
{{define "title"}}eat{{end}}
{{define "body"}}
    <nav>
        <a href="/eat">all</a>
        <a href="/eat">e1</a>
        <a href="/eat">e2</a>
        <a href="/eat">e3</a>
    </nav>
{{end}}