{{template "base" .}}
{{define "title"}}sleep{{end}}
{{define "body"}}
    <nav>
        <a href="/sleep">all</a>
        <a href="/sleep">s1</a>
        <a href="/sleep">s2</a>
        <a href="/sleep">s3</a>
    </nav>
{{end}}