* {
    box-sizing: border-box;
    background-color:white;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

@-ms-viewport {
    width: device-width;
}

body {
    max-width: 1280px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    text-decoration: none;
}

img {
    width: 100px;
    max-width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
}

nav a {
    margin: 0px 24px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

li a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-self: center;
}

canvas {
    width: 80%;
    height: 80%;
    display: block;
}